#then-nav {
	background-color: rgba(239, 201, 76, 1);
	
	position: fixed;
	left: 0;
	
	z-index: 0;
}

#now-nav {
	background-color: rgba(226, 122, 63, 1);
	
	position: fixed;
	left: 100px;
	
	z-index: 1;
	
	border-left: 4px solid rgba(97, 226, 224, 1);
	padding-right: 4px;
}

#now-nav:hover {
	background-color: rgba(226, 122, 63, 1);
}

#when-nav {
	background-color: rgba(223, 90, 73, 1);
	
	position: fixed;
	left: calc(100% - 100px);
	
	z-index: 2;
}