@keyframes page-load {
	0% {
		left: calc(100% - 100px);
	}
	
	80% {
	}
	
	100% {
		left: 200px;
	}
}

@keyframes background-transition {
	0% {
		background-color: rgba(236, 166, 126, 1);
	}
	
	100% {
		background-color: rgba(234, 144, 133, 1);
	}
}

#now {
	animation-name: background-transition;
	animation-duration: .9s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

#then-nav {
	background-color: rgba(239, 201, 76, 1);
	
	position: fixed;
	left: 0;
}

#now-nav {
	background-color: rgba(226, 122, 63, 1);
	
	position: fixed;
	left: 100px;
	
	border-left: 4px solid rgba(97, 226, 224, 1);
	padding-right: 4px;
}

#now-nav:hover {
	background-color: rgba(226, 122, 63, 1);
}

#when-nav {
	background-color: rgba(223, 90, 73, 1);
	
	position: fixed;
	left: calc(100% - 100px);
	
	animation-name: page-load;
	animation-duration: .9s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}