/* Help older browsers deal with common HTML5/CSS3 elements. */
header, section, footer, aside, nav, article figure {
	display: block;
}

html {
	height: 100vh;
}

/* Set up some global rules for the body. A lot of this is made redundant through further CSS, but good foundations are safe. */
body, .page {
	position: fixed;
	
	max-width: 100vw;
	min-height: 100vh;
	
	width: 100vw; /* Set the global page width */
	/* height: 100vh; // This was creating a vertical page that was too long - scrollbars */
	margin: 0;
	background-color: #fff; /* Set background colour to white */
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Raleway', sans-serif; /* Sets the font priority for the body */
	font-size: medium; /* Set base font size */
	line-height: 200%; /* Sets line spacing to 200% for legibility */

	overflow-x: hidden;
}

#then {
	background-color: rgba(244, 219, 135, 1);
}

#then nav {
	background-color: rgba(239, 201, 76, 1);
}

#now {
	background-color: rgba(236, 166, 126, 1);
}

#now nav {
	background-color: rgba(226, 122, 63, 1);
}

#when {
	background-color: rgba(234, 144, 133, 1);
}

#when nav {
	background-color: rgba(223, 90, 73, 1);
}

nav {
	position: fixed;
	
	width: 100%;
	height: 100px;
	
	top: 0;
	left: 0;
	
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

nav h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	height: 100px;

	color: #fff;
	padding-left: 10px;
}

h1 {
	color: #334d5c;
	font-size: 4em;
}

h2 {
	color: #fff;
	font-size: 4em;
}

.content h2 {
	color: rgba(0, 0, 0, 0.34);
	line-height: 1em;
	margin: 20px;
}

article {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

	position: relative;
	margin: 0 auto;
	top: 125px;
	padding: 0 15px;

	display: block;
	width: 70vw;
	height: calc(95vh - 125px);
	overflow-y: scroll;
}

article .content {
	height: inherit;
	display: table-cell;
}

.nav-div {
	height: 100px;
	width: 100%;
	float: left;
}

.nav-div img {
	height: 100px;
	float: left;
}

.background-svg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.flipx {
	transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}

@keyframes button-appear {
	0% {
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
	}

	100% {
		transform: translateY(110%);
		-ms-transform: translateY(110%);
		-webkit-transform: translateY(110%);
		-moz-transform: translateY(110%);
		-o-transform: translateY(110%);
	}
}

.button h2 {
	display: table-cell;
	width: 33.34vw;
	vertical-align: middle;
	text-align: center;

	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	-o-user-select: none;      
	user-select: none;
}

#index-button-container {
	display: table;
	width:  100vw;
}

.button {
	display: table-cell;
	position: fixed;
	bottom: 0;

	width: 33.34vw;
	height: 50vh;

	line-height: 50vh;
	text-align: center;

	animation-name: button-appear;
	animation-duration: .6s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

#left-button {
	background-color: rgba(239, 201, 76, 1);
	
	left: 0;
}

#left-button:hover, .then-nav-hover:hover {
	/* background-color: rgba(239, 201, 76, 0.75); */
	background-color: rgba(243, 215, 121, 1) !important;
}

#middle-button {
	background-color: rgba(226, 122, 63, 1);
	
	left: 50%;
	margin-left: -16.65%;
	width: 33.34%;
}

#middle-button:hover, .now-nav-hover:hover {
	/* background-color: rgba(226, 122, 63, 0.75); */
	background-color: rgba(233, 155, 111, 1) !important;
}

#right-button {
	background-color: rgba(223, 90, 73, 1);
	
	right: 0;
}

#right-button:hover, .when-nav-hover:hover {
	/* background-color: rgba(223, 90, 73, 0.75); */
	background-color: rgba(231, 131, 119, 1) !important;
}

.hidden {
	visibility: hidden;
}


/* Style Scrollbars */
::-webkit-scrollbar {
}  /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: inherit;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: inherit;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-corner {
  background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */



/* ANIMATIONS - STYLES */

/* NAVBARS */
.then-from-now {
	animation-name: then-from-now;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.then-from-when {
	animation-name: then-from-when;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.then-from-when2 {
	animation-name: then-from-when2;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-then {
	animation-name: now-from-then;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-when {
	animation-name: now-from-when;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-now {
	animation-name: when-from-now;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-then {
	animation-name: when-from-then;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-then2 {
	animation-name: when-from-then2;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

/* BACKGROUND TRANSITIONS */
.then-from-now-background {
	animation-name: then-from-now-background;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.then-from-when-background {
	animation-name: then-from-when-background;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-then-background {
	animation-name: now-from-then-background;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-when-background {
	animation-name: now-from-when-background;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-now-background {
	animation-name: when-from-now-background;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-then-background {
	animation-name: when-from-then-background;
	animation-duration: .8s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

/* CONTENT FADING */
.content-fade {
	animation-name: content-fade;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

/* ANIMATIONS - KEYFRAMES */

/* NAVBAR KEYFRAMES */
@keyframes then-from-now {
	0% {
		left: calc(100vw - 208px);
	}

	100% {
		left: 100px;
	}
}

@keyframes then-from-when {
	0% {
		left: calc(100vw - 100px);
	}

	100% {
		left: 200px;
	}
}

@keyframes then-from-when2 {
	0% {
		left: calc(100vw - 208px);
	}

	100% {
		left: 100px;
	}
}

@keyframes now-from-then {
	0% {
		left: 100px;
	}

	100% {		
		left: calc(100vw - 208px);
	}
}

@keyframes now-from-when {
	0% {
		left: calc(100vw - 100px);
	}
	
	100% {
		left: 200px;
	}
}

@keyframes when-from-now {
	0% {
		left: 200px;
	}

	100% {
		left: calc(100vw - 100px);
	}
}

@keyframes when-from-then {
	0% {
		left: 200px;
	}

	100% {
		left: calc(100vw - 100px);
	}
}

@keyframes when-from-then2 {
	0% {
		left: 100px;
	}

	100% {
		left: calc(100vw - 208px);
	}
}

/* BACKGROUND TRANSITIONS */
@keyframes then-from-now-background {
	0% {
		background-color: rgba(244, 219, 135, 1);
	}
	
	100% {
		background-color: rgba(236, 166, 126, 1);
	}
}

@keyframes then-from-when-background {
	0% {
		background-color: rgba(244, 219, 135, 1);
	}
	
	100% {
		background-color: rgba(234, 144, 133, 1);
	}
}

@keyframes now-from-then-background {
	0% {
		background-color: rgba(236, 166, 126, 1);
	}
	
	100% {
		background-color: rgba(244, 219, 135, 1);
	}
}

@keyframes now-from-when-background {
	0% {
		background-color: rgba(236, 166, 126, 1);
	}
	
	100% {
		background-color: rgba(234, 144, 133, 1);
	}
}

@keyframes when-from-now-background {
	0% {
		background-color: rgba(234, 144, 133, 1);
	}
	
	100% {
		background-color: rgba(236, 166, 126, 1);
	}
}

@keyframes when-from-then-background {
	0% {
		background-color: rgba(234, 144, 133, 1);
	}
	
	100% {
		background-color: rgba(244, 219, 135, 1);
	}
}

/* CONTENT FADING */
@keyframes content-fade {
	0% {
		color: rgba(0, 0, 0, 0.54);
	}
	
	50% {
		color: rgba(0, 0, 0, 0);
	}
	
	100% {
		color: rgba(0, 0, 0, 0.54);
	}
}