/* Some variables to help us with colour selection */
:root {
  --main-background-color: #34495e;
  --main-h1-color: rgba(255, 255, 255, 0.8);

  /* We use hsl() values here so that we can easily control
     the aesthetic of mouseover colours */
     
  --then-root-color: hsl(10, 65%, 60%);  /* #db6d57 */
  --now-root-color:  hsl(221, 62%, 68%); /* #7b9be0 */
  --when-root-color: hsl(81, 62%, 67%);  /* #bce079 */
  
  /* Same colours as root -20% saturation */
  --then-background-color: hsl(10, 45%, 60%);
  --now-background-color:  hsl(221, 42%, 68%);
  --when-background-color: hsl(81, 42%, 67%);
  
  /* Same colours as root +5% lightness */
  --then-root-mouseover-color: hsl(10, 65%, 65%);
  --now-root-mouseover-color:  hsl(221, 62%, 73%);
  --when-root-mouseover-color: hsl(81, 42%, 72%);
  
  /* Highlights */
  --then-highlight-color: hsl(156, 48%, 65%);
  --now-highlight-color:  hsl(42, 80%, 61%);
  --when-highlight-color: hsl(286, 66%, 63%);
  
  /* Same colours as highlight +23% lightness */
  --then-highlight-mouseover-color: hsl(156, 48%, 88%);
  --now-highlight-mouseover-color:  hsl(42, 80%, 84%);
  --when-highlight-mouseover-color: hsl(286, 66%, 86%);
  
  /* Same colours as highlight +15% lightness */
  --then-highlight-selected: hsl(156, 48%, 80%);
  --now-highlight-selected:  hsl(42, 80%, 76%);
  --when-highlight-selected: hsl(286, 66%, 78%);
}

/* Help older browsers deal with common HTML5/CSS3 elements. */
header, section, footer, aside, nav, article figure {
	display: block;
}

html {
	height: 100vh;
}

/* Set up some global rules for the body. A lot of this is made redundant through further CSS, but good foundations are safe. */
body, .page {
	position: fixed;
	
	max-width: 100vw;
	min-height: 100vh;
	
	width: 100vw; /* Set the global page width */
	/* height: 100vh; // This was creating a vertical page that was too long - scrollbars */
	margin: 0;
	background-color: var(--main-background-color); /* Set background colour to white */
	color: rgba(0, 0, 0, 0.54);
	font-family: 'Montserrat', sans-serif; /* Sets the font priority for the body */
	font-size: medium; /* Set base font size */
	line-height: 200%; /* Sets line spacing to 200% for legibility */

	overflow-x: hidden;
}

hr {
	width: 60%;
	text-align: left;
	margin-left: 0;
	height: 0;
	border: 0;
	border-top: 1px solid;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.95em;
}

h3 {
	font-style: italic;
	text-indent: 30px;
	font-weight: 500;
}

#then blockquote {
	border-color: var(--then-highlight-color);
}

#now blockquote {
	border-color: var(--now-highlight-color);
}

#when blockquote {
	border-color: var(--when-highlight-color);	
}

.emphasize {
	font-style: italic;
}

#then {
	background-color: var(--then-background-color);
}

#now {
	background-color: var(--now-background-color);
}

#when {
	background-color: var(--when-background-color);
}

#then a {
	color: var(--then-background-color);
}

#now a {
	color: var(--now-background-color);
}

#when a {
	color: var(--when-background-color);
}

.then-nav {
	position: fixed;
	left: 0;
	background-color: var(--then-root-color);
	z-index: 5;
	border-left: 4px solid var(--then-highlight-color);
}

.now-nav {
	position: fixed;
	background-color: var(--now-root-color);
	z-index: 6;
	border-left: 4px solid var(--now-highlight-color);
	margin-left: 4px;
}

.when-nav {
	position: fixed;
	background-color: var(--when-root-color);
	z-index: 7;
	border-left: 4px solid var(--when-highlight-color);
	margin-left: 8px;
}

nav {
	position: fixed;
	
	width: 100%;
	height: 100px;
	
	top: 0;
	left: 0;
	
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.mainnav {
	border-bottom: 0px solid;
	height: 100%;
}

nav h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	height: 100px;

	color: #fff;
	padding-left: 10px;
}

.subnav {
	position: inherit;
	display: inline-block;
	
	top: 379px;
	left: -150px;

	z-index: -1;
}

.subnav ul, .social ul {
	list-style-type: none;
}

.subnav li {
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	
	width: 80px;
	height: 80px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
	top: -245px;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
	border-radius: 3px;
}

.subnav img {
	width: 100%;
}

#then .mainnav {
	border-color: var(--then-highlight-color);	
}

#then .subnav li {
	background-color: var(--then-highlight-color);
}

#then .subnav li:hover {
	background-color: var(--then-highlight-mouseover-color);
}

#then .selected {
	background-color: var(--then-highlight-selected) !important;
}

#now .mainnav {
	border-color: var(--now-highlight-color);	
}

#now .subnav li {
	background-color: var(--now-highlight-color);
}

#now .subnav li:hover {
	background-color: var(--now-highlight-mouseover-color);
}

#now .selected {
	background-color: var(--now-highlight-selected) !important;
}

#when .mainnav {
	border-color: var(--when-highlight-color);	
}

#when .subnav li {
	background-color: var(--when-highlight-color);
}

#when .subnav li:hover {
	background-color: var(--when-highlight-mouseover-color);
}

#when .selected {
	background-color: var(--when-highlight-selected) !important;
}

.social {
	padding: 0;
	margin: 0;
	height: 32px;
}

.social a {
	display: inline-block;
	width: 32px;
	height: 32px;
	
	background-repeat: no-repeat;
	background-position: center;

}

.social-facebook {
	background-image: url('../img/social-facebook.svg');
	background-size: 24px 24px;
}

.social-facebook:hover {
	background-image: url('../img/social-facebook-color.svg');
	background-size: 24px 24px;
}

.social-twitter {
	background-image: url('../img/social-twitter.svg');
	background-size: 40px 40px;
}

.social-twitter:hover {
	background-image: url('../img/social-twitter-color.svg');
	background-size: 40px 40px;
}

li a {
	text-decoration: none;
	color: #fff;
}

h1 {
	color: var(--main-h1-color);
	font-size: 4em;
}

h2 {
	color: #fff;
	font-size: 2.95em;
}

article h2 {
	color: rgba(0, 0, 0, 0.34);
	line-height: 1em;
	margin: 20px;
}

#thenContent h2 {
	color: var(--then-background-color);
}

#thenContent hr {
	/* Many selectors for cross-browser compatibility */
	background-color: var(--then-highlight-color);
	color: var(--then-highlight-color);
	border-color: var(--then-highlight-color);
}

#nowContent h2 {
	color: var(--now-background-color);
}

#nowContent hr {
	background-color: var(--now-highlight-color);
	color: var(--now-highlight-color);
	border-color: var(--now-highlight-color);
}

#whenContent h2 {
	color: var(--when-background-color);
}

#whenContent hr {
	background-color: var(--when-highlight-color);
	color: var(--when-highlight-color);
	border-color: var(--when-highlight-color);
}

article {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

	position: relative;
	margin: 0 auto;
	top: 150px;
	padding: 0 15px;

	display: block;
	width: 70vw;
	height: calc(95vh - 140px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.content-header {
	width: 100%;	
}

.content-data {
	left: 0;
}

.content-comments {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	border-top: 3px solid;
	margin: auto;
	margin-bottom: 15px;
	clear: both;
}

#then .content-comments {
	border-color: var(--then-highlight-color);
}

#now .content-comments {
	border-color: var(--now-highlight-color);
}

#when .content-comments {
	border-color: var(--when-highlight-color);
}

.content-image {
	width: 200px;
	margin: 0 15px 15px 0;
}

.content-image img {
	width: 200px;
}

.content-image img:hover {
	opacity: 0.8;
}

.content-video {
	width: 560px;
	margin: 0 15px 15px 0;
}

.content-image h5, .content-video h5 {
	font-size: 0.8em;
	font-weight: 100;
	margin: -11px 0 0 0;
	line-height: 1.5;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	/* background-color: rgba(255, 255, 255, 0.7); */
}

.floatLeft {
	float: left;
	padding: 5px 10px 5px 0;
}

.floatRight {
	float: right;
	padding: 5px 0 5px 10px;
}

.center, .footer-img {
	display: table;
	margin: auto;
	padding: 10px;
	clear: both;
}

.center img {
	max-height: 175px;
	width: auto;
	height: auto;
}

.footer-img img {
	width: auto;
	height: auto;	
}

blockquote {
	width: 300px;
	background-color: rgba(255, 255, 255, 0.3);
	font-size:1.5em;
}

.blockLeft {
	border-right: 3px solid;
	margin-left: 0;
}

.blockRight {
	border-left: 3px solid;
	margin-right: 0;
}

blockquote:before {
	font-size: 3em;	
	content:"\201C";
}

cite {
	right: 0;	
}

cite:before {
	content:"\A\2014";
	white-space: pre;
}

.fb-comments {
	padding: 10px;
}

article .content {
	padding: 0px 15px;
}

footer {
	position: fixed;
	bottom: 0;
	height: 40px;
	right: 5px;
	font-size: 9pt;
}

footer li {
	display: inline-block;
	border-left: 1px solid;
	padding: 0px 5px;
	color: rgba(255, 255, 255, 0.84);
	line-height: 2;
}

.nav-div {
	height: 100px;
	width: 100%;
	float: left;
}

.nav-div img {
	height: 100px;
	float: left;
}

#copyright .subnav1, #references .subnav1 {
	background-color: var(--then-root-color);	
}

#copyright .subnav1:hover, #references .subnav1:hover {
	background-color: var(--then-root-mouseover-color)
}

#copyright .subnav2, #references .subnav2 {
	background-color: var(--now-root-color);	
}

#copyright .subnav2:hover, #references .subnav2:hover {
	background-color: var(--now-root-mouseover-color)
}

#copyright .subnav3, #references .subnav3 {
	background-color: var(--when-background-color);	
}

#copyright .subnav3:hover, #references .subnav3:hover {
	background-color: var(--when-root-mouseover-color)
}

.background-svg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}

.flipx {
	transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}

.youtube-iframe {
	display: block;
	margin: auto;
}

@keyframes button-appear {
	0% {
		transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-o-transform: translateY(0);
	}

	100% {
		transform: translateY(110%);
		-ms-transform: translateY(110%);
		-webkit-transform: translateY(110%);
		-moz-transform: translateY(110%);
		-o-transform: translateY(110%);
	}
}

.button h2 {
	display: table-cell;
	width: 33.34vw;
	vertical-align: middle;
	text-align: center;

	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	-o-user-select: none;      
	user-select: none;
}

#index-button-container {
	display: table;
	width:  100vw;
}

.button {
	display: table-cell;
	position: fixed;
	bottom: 0;

	width: 33.34vw;
	height: 50vh;

	line-height: 50vh;
	text-align: center;

	animation-name: button-appear;
	animation-duration: .6s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

#left-button {
	background-color: var(--then-root-color);
	
	left: 0;
}

#left-button:hover, .then-nav-hover:hover {
	/* background-color: rgba(239, 201, 76, 0.75); */
	background-color: var(--then-root-mouseover-color) !important;
}

#middle-button {
	background-color: var(--now-root-color);
	
	left: 50%;
	margin-left: -16.65%;
	width: 33.34%;
}

#middle-button:hover, .now-nav-hover:hover {
	/* background-color: rgba(226, 122, 63, 0.75); */
	background-color: var(--now-root-mouseover-color) !important;
}

#right-button {
	background-color: var(--when-root-color);
	
	right: 0;
}

#right-button:hover, .when-nav-hover:hover {
	/* background-color: rgba(223, 90, 73, 0.75); */
	background-color: var(--when-root-mouseover-color) !important;
}

.hidden {
	visibility: hidden;
}


/* Style Scrollbars */
::-webkit-scrollbar {
}  /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: inherit;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: inherit;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-corner {
  background-color: transparent;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */



/* ANIMATIONS - STYLES */

/* NAVBARS */
.then-from-now {
	animation-name: then-from-now;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.then-from-when {
	animation-name: then-from-when;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.then-from-when2 {
	animation-name: then-from-when2;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-then {
	animation-name: now-from-then;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-when {
	animation-name: now-from-when;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-now {
	animation-name: when-from-now;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-then {
	animation-name: when-from-then;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-then2 {
	animation-name: when-from-then2;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

/* BACKGROUND TRANSITIONS */
.then-from-now-background {
	animation-name: then-from-now-background;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.then-from-when-background {
	animation-name: then-from-when-background;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-then-background {
	animation-name: now-from-then-background;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.now-from-when-background {
	animation-name: now-from-when-background;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-now-background {
	animation-name: when-from-now-background;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

.when-from-then-background {
	animation-name: when-from-then-background;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
}

/* SUBNAV MOVEMENT */

.subnav-animation1 {
	animation-name: subnav;
	animation-delay: .15s;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.subnav-animation2 {
	animation-name: subnav;
	animation-delay: .35s;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.subnav-animation3 {
	animation-name: subnav;
	animation-delay: .55s;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.subnav-disappear {
	animation-name: subnav-disappear;
	animation-delay: 0s;
	animation-duration: 3.35s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	
}

/* ANIMATIONS - KEYFRAMES */

/* NAVBAR KEYFRAMES */
@keyframes then-from-now {
	0% {
		left: calc(100vw - 208px);
	}

	100% {
		left: 104px;
	}
}

@keyframes then-from-when {
	0% {
		left: calc(100vw - 104px);
	}

	100% {
		left: 208px;
	}
}

@keyframes then-from-when2 {
	0% {
		left: calc(100vw - 208px);
	}

	100% {
		left: 104px;
	}
}

@keyframes now-from-then {
	0% {
		left: 104px;
	}

	100% {		
		left: calc(100vw - 208px);
	}
}

@keyframes now-from-when {
	0% {
		left: calc(100vw - 104px);
	}
	
	100% {
		left: 208px;
	}
}

@keyframes when-from-now {
	0% {
		left: 208px;
	}

	100% {
		left: calc(100vw - 104px);
	}
}

@keyframes when-from-then {
	0% {
		left: 208px;
	}

	100% {
		left: calc(100vw - 100px);
	}
}

@keyframes when-from-then2 {
	0% {
		left: 104px;
	}

	100% {
		left: calc(100vw - 208px);
	}
}

/* BACKGROUND TRANSITIONS */
@keyframes then-from-now-background {
	0% {
		background-color: var(--then-background-color);
	}
	
	100% {
		background-color: var(--now-background-color);
	}
}

@keyframes then-from-when-background {
	0% {
		background-color: var(--then-background-color);
	}
	
	100% {
		background-color: var(--when-background-color);
	}
}

@keyframes now-from-then-background {
	0% {
		background-color: var(--now-background-color);
	}
	
	100% {
		background-color: var(--then-background-color);
	}
}

@keyframes now-from-when-background {
	0% {
		background-color: var(--now-background-color);
	}
	
	100% {
		background-color: var(--when-background-color);
	}
}

@keyframes when-from-now-background {
	0% {
		background-color: var(--when-background-color);
	}
	
	100% {
		background-color: var(--now-background-color);
	}
}

@keyframes when-from-then-background {
	0% {
		background-color: var(--when-background-color);
	}
	
	100% {
		background-color: var(--then-background-color);
	}
}

/* SUBNAV KEYFRAMES */
@keyframes subnav {
	0% {
		left: -150px;
	}
	
	100% {
		left: 150px;
	}
}

@keyframes subnav-disappear {
	0% {
		transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
	}
	
	100% {
		transform: scale(0);
		-ms-transform: scale(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
	}
}

/* RESPONSIVE DESIGN FOR MOBILE */
@media only screen and (max-width: 1080px) {
	p {
	  font-size: 1.5em;
	  font-weight: 500;
	}
	
	article {
	  margin-right: 40px;
	}
	
	@keyframes subnav {
		0% {
			left: -150px;
		}
		
		100% {
			left: 125px;
		}
	}
	
}


/* MODAL STYLING */
.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 20;
	display: none;
}

.modal-close-widget {
	position:absolute;
	right:0;
	top:0;
	font-size: 128px;
	
	padding: 32px 7px;
	overflow:hidden;
	text-decoration:none;
	cursor:pointer;
	white-space:nowrap;
}

#then .modal-close-widget {
	color: var(--then-background-color);
}

#then .modal-close-widget:hover {
	color: var(--then-highlight-color);
}

#now .modal-close-widget {
	color: var(--now-background-color);
}

#now .modal-close-widget:hover {
	color: var(--now-highlight-color);
}

#when .modal-close-widget {
	color: var(--when-background-color);
}

#when .modal-close-widget:hover {
	color: var(--when-highlight-color);
}

.modal-content {
	display:flex;
	justify-content:center;
	align-items:center;
	padding: 110px;
}

.modal-content img {
	max-width: 75vw;
	max-height: 75vh;
}

.modal-animate-zoom {
	animation:animatezoom 0.6s
}

@keyframes animatezoom {
	from {
		transform:scale(0)
	}
	
	to {
		transform:scale(1)
	}
}
